<template>
  <div>
    <b-row class="mb-3">
      <b-col xs="5" md="3" class="justify-content-md-center mt-3">
        <b-row>
          <b-col>
            <game-setting-card :game="game" />
          </b-col>
        </b-row>
      </b-col>
      <b-col
        v-if="game && isPlayable"
        xs=""
        md="9"
        class="justify-content-md-center mt-3"
      >
        <b-row>
          <b-col md="12">
            <meaning-game-card
              v-if="game.gameType === 1"
              :item="game"
              v-model="answer"
              :isCompleted="isAnswered"
            />
            <completion-game-card
              v-else
              :item="game"
              v-model="answer"
              :isCompleted="isAnswered"
            />
          </b-col>
          <b-col md="12" class="mt-3">
            <game-control-buttons
              :rightButtonTitle="isAnswered ? 'Next' : 'Check'"
              leftButtonTitle="Pass"
              :rightButtonVariant="isAnswered ? 'light' : 'info'"
              :leftButtonDisabled="isAnswered"
              @onRightButtonClick="isAnswered ? onNextClick() : onCheckClick()"
              @onLeftButtonClick="passGame"
            />
          </b-col>
        </b-row>
      </b-col>

      <b-col v-else md="9" class="mt-3 ">
        <b-card class="h-100">
          <b-card-body
            class="justify-content-center d-flex flex-column align-items-center h-100"
          >
            <h2 class="text-muted">
              Please add at least one word to play Game
            </h2>
            <router-link
              :to="{ name: 'words' }"
              class="btn btn-outline-primary"
            >
              Add Word</router-link
            >
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import MeaningGameCard from "./components/MeaningGameCard";
import GameSettingCard from "./components/GameSettingCard";
import CompletionGameCard from "./components/CompletionGameCard";
import GameControlButtons from "./components/GameControlButtons";
import notify from "@/utils/notify";

import {
  updateGameSetting,
  get as getGame,
  getGameSetting,
  pass as passGame,
  checkAnswer
} from "@/api/game";
import { getAll as getAllWords } from "@/api/word";
export default {
  name: "Games",
  components: {
    "meaning-game-card": MeaningGameCard,
    "game-setting-card": GameSettingCard,
    "game-control-buttons": GameControlButtons,
    "completion-game-card": CompletionGameCard
  },
  data() {
    return {
      game: null,
      gameSetting: null,
      answer: "",
      isAnswered: false,
      isPlayable: false
    };
  },
  watch: {
    answer: {
      handler: function(val, oldVal) {
        console.log(val);
      },
      deep: true
    }
  },
  mounted() {
    this.getGameSetting();

    getAllWords({ page: 1, limit: 1 }).then(response => {
      this.isPlayable = response.totalCount > 0;
      if (this.isPlayable) {
        this.getGame();
      }
    });
  },

  methods: {
    onNextClick() {
      this.getGame();
    },
    onCheckClick() {
      const data = {
        id: this.game.id,
        answer: this.answer
      };

      checkAnswer(data).then(response => {
        this.isAnswered = true;
        if (response.isTrue) {
          notify.successAnswer();
        } else {
          notify.wrongAnswer();
        }
      });
    },

    getGame() {
      getGame().then(response => {
        this.game = response;
        this.isAnswered = false;
      });
    },
    passGame() {
      notify.areYouSureAlert(
        "Do you want to pass this Game?",
        "Pass",
        result => {
          if (result.isConfirmed) {
            passGame(this.game.id).then(response => {
              this.getGame();
            });
          }
        }
      );
    },
    getGameSetting() {
      getGameSetting().then(response => {
        this.gameSetting = response;
      });
    }
  }
};
</script>

<style></style>
