<template>
  <div class="session-card">
    <b-card class="mb-4" no-body>
      <div class="position-relative">
        <div
          alt="Card image cap"
          class="card-img-top session-thumbnail-letter w-100 "
        >
          {{ getShortTitle }}
        </div>
        <!-- <img src="/assets/img/card-thumb-1.jpg" class="card-img-top" /> -->
        <b-badge
          :variant="gameLevelBadgeVariant"
          pill
          class="position-absolute badge-top-left"
          >{{ gameLevel.value }}</b-badge
        >
        <b-badge
          :variant="gameTypeBadgeVariant"
          pill
          class="position-absolute badge-top-left-2"
          >{{ gameType.value }}</b-badge
        >

        <b-dropdown
          size="lg"
          variant="link"
          class="position-absolute"
          style="top:0rem;right:0rem;"
          toggle-class="text-decoration-none icon-button"
          no-caret
          dropleft
        >
          <template #button-content>
            <span class="simple-icon-options-vertical options-button"></span>
          </template>
          <b-dropdown-item href="#" @click.stop="$emit('onEditClick', item)">{{
            $t("general.buttons.edit")
          }}</b-dropdown-item>
          <b-dropdown-item
            href="#"
            @click.stop="$emit('onDeleteClick', item)"
            >{{ $t("general.buttons.delete") }}</b-dropdown-item
          >
        </b-dropdown>
        <!-- <button
          type="button"
          class="options-button btn  btn-circle position-absolute"
          style="top:0rem;right:0rem;"
        >
          <i class="simple-icon-options-vertical"></i>
        </button> -->
      </div>
      <b-card-body>
        <div class="play-button">
          <button
            v-if="item.sessionStatus == 1"
            class="btn btn-success "
            @click="$emit('onStartClick', item)"
          >
            Start
          </button>
          <button
            v-if="item.sessionStatus == 2"
            class="btn btn-info "
            @click="$emit('onStartClick', item)"
          >
            Continue
          </button>
        </div>
        <h6 class="mb-4 card-subtitle text-center">
          {{ item.title }}
        </h6>
        <p class="card-text text-muted text-small mb-0 font-weight-light ">
          09.04.2018
        </p>
      </b-card-body>
    </b-card>

    <!-- <b-card class="mb-4 text-center">
      <router-link to="?" class="text-center">
        <div
          alt="Card image cap"
          class="align-self-center  justify-content-center list-thumbnail-letters rounded-circle m-4 small"
        >
          SK
        </div>

        <h6 class="mb-1 card-subtitle">Sarah Kortney</h6>
        <p class="text-muted text-small mb-4">Executive Director</p>
      </router-link>
      <b-button size="sm" variant="outline-primary">Edit</b-button>
    </b-card> -->
    <!-- <b-card class="mb-4 d-flex flex-row text-center" no-body>
      <router-link to="?" class="d-flex">
        <div
          alt="Card image cap"
          class="align-self-center list-thumbnail-letters rounded-circle m-4 small"
        >
          SK
        </div>
      </router-link>
      <div class="d-flex flex-grow-1 min-width-zero">
        <div
          class="pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero"
        >
          <div class="min-width-zero">
            <router-link to="?">
              <h6 class="mb-1 card-subtitle truncate">Sarah Kortney</h6>
            </router-link>
            <p class="text-muted text-small mb-2">Executive Director</p>
          </div>
        </div>
      </div>
    </b-card> -->
  </div>
</template>

<script>
import {
  gameTypeOptions,
  gameLevelOptions,
  sessionStatusOptions
} from "@/constants/data";
export default {
  name: "SessionCard",
  props: {
    item: { type: Object },
    options: {
      type: Object,
      default: function() {
        return {
          type: "default"
        };
      }
    }
  },
  data() {
    return {
      gameTypeOptions,
      gameLevelOptions,
      sessionStatusOptions
    };
  },
  computed: {
    getShortTitle() {
      var t = this.item.title.split(" ");
      if (t.length > 1) return t[0][0].toUpperCase() + t[1][0].toUpperCase();
      else return t[0][0].toUpperCase() + t[0][1].toUpperCase();
    },
    gameType() {
      return this.gameTypeOptions.find(x => x.key === this.item.gameType);
    },
    gameTypeBadgeVariant() {
      var gameType = this.gameType;
      if (gameType.key == 1) return "warning";
      else if (gameType.key == 2) return "info";
      else return "warning";
    },
    gameLevel() {
      return this.gameLevelOptions.find(x => x.key === this.item.gameLevel);
    },
    gameLevelBadgeVariant() {
      var gameLevel = this.gameLevel;
      if (gameLevel.key == 1) return "success";
      else if (gameLevel.key == 2) return "info";
      else if (gameLevel.key == 3) return "danger";
      else return "success";
    },
    sessionStatus() {
      return this.gameTypsessionStatusOptionseOptions.find(
        x => x.key === this.item.sessionStatus
      );
    }
  }
};
</script>

<style></style>
