<template>
  <router-link :to="to"><i :class="icon"/></router-link>
</template>

<script>
export default {
  name: "NavItem",
  props: {
    // title: {
    //   type: String,
    //   required: true
    // },
    to: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    }
  }
};
</script>

<style></style>
