<template>
  <div>
    <!-- <h1>test</h1> -->
    <ul class="list-unstyled ">
      <li
        v-for="(route, index) in topNavbarRoutes.children"
        :key="index"
        class="d-inline-block"
      >
        <router-link :to="{ name: route.name }"
          ><i :class="route.meta.icon"/><span></span
        ></router-link>
      </li>
    </ul>
  </div>
</template>

<script>
// import { topNavbarRoutes } from "@/router";
import NavItem from "./NavItem";
import { mapGetters } from "vuex";
export default {
  name: "TopNavMenu",
  components: { "nav-item": NavItem },

  computed: {
    ...mapGetters(["topNavbarRoutes"])
  }
};
</script>
