<template>
  <div>
    <b-modal
      v-model="isModalVisible"
      dialog-class="modal-xl quick-add-modal"
      title="Quick Add "
      @hidden="onModalHidden"
    >
      <b-row class="mb-3">
        <b-col md="12">
          <div class="d-block d-md-inline-block ">
            <div
              class="filter-input d-inline-block float-md-left mr-1 align-top"
            >
              <b-input v-model="tempSearch" :placeholder="$t('menu.search')" />
            </div>
          </div>
          <div class="d-block d-md-inline-block align-top">
            <b-button
              variant="info"
              class="btn-circle"
              size="sm"
              @click="filter"
              ><i class="simple-icon-magnifier"></i
            ></b-button>
          </div>
          <div class="float-right">
            <div class="d-block d-md-inline-block mr-3 align-top">
              <b-form-checkbox v-model="skipExistingWords"
                >Skip existing words</b-form-checkbox
              >
            </div>

            <div class="d-block d-md-inline-block align-top ml-1 ">
              <b-button
                variant="outline-primary"
                size="xs"
                @click="isUploadModalVisible = true"
                >Import From Excel File
              </b-button>
            </div>
          </div>
        </b-col>
      </b-row>

      <b-overlay :show="loading" rounded="sm">
        <div class="quick-add-content">
          <b-row
            class="mb-2"
            v-for="(item, index) in $v.filteredList.$each.$iter"
            :key="index"
          >
            <b-colxx xxs="12">
              <b-card class="quick-add-item-card" no-body>
                <b-row>
                  <b-col md="11">
                    <b-row class="quick-add-item-card-body">
                      <b-col md="3">
                        <b-form-group
                          :label="$t('word.title')"
                          class="has-float-label tooltip-label-right"
                        >
                          <b-form-input
                            v-model="item.title.$model"
                            placeholder="Enter your Title"
                            :state="!item.title.$error"
                          />
                          <b-form-invalid-feedback
                            v-if="!item.title.required"
                            >{{
                              $t("word.validations.titleIsRequired")
                            }}</b-form-invalid-feedback
                          >
                          <b-form-invalid-feedback v-if="!item.title.minLength">
                            {{
                              String.format(
                                $t("word.validations.titleMinLength"),
                                item.title.$params.minLength.min
                              )
                            }}
                          </b-form-invalid-feedback>
                        </b-form-group>
                      </b-col>
                      <b-col md="3">
                        <b-form-group
                          :label="$t('word.meanings')"
                          class="has-float-label  tooltip-label-right"
                        >
                          <b-form-tags
                            v-model="item.meanings.$model"
                            :placeholder="$t('word.meanings')"
                            :state="!item.meanings.$error"
                            remove-on-delete
                            :disableAddButton="true"
                          ></b-form-tags>

                          <b-form-invalid-feedback
                            v-if="!item.meanings.required"
                            >{{
                              $t("word.validations.meaningIsRequired")
                            }}</b-form-invalid-feedback
                          >
                          <b-form-invalid-feedback
                            v-if="!item.meanings.minLength"
                          >
                            {{
                              String.format(
                                $t("word.validations.meaningsMinLength"),
                                $v.meanings.$params.minLength.min
                              )
                            }}
                          </b-form-invalid-feedback>
                        </b-form-group>
                      </b-col>
                      <b-col md="3">
                        <b-form-group
                          :label="$t('word.tags')"
                          class="has-float-label"
                        >
                          <b-form-tags
                            v-model="item.$model.tags"
                            :placeholder="$t('word.tags')"
                            remove-on-delete
                            :disableAddButton="true"
                          ></b-form-tags>
                        </b-form-group>
                      </b-col>
                      <b-col md="3">
                        <b-form-group
                          :label="$t('pages.description')"
                          class="has-float-label"
                        >
                          <b-form-input
                            v-model="item.$model.description"
                            placeholder="Enter your Title"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-col>
                  <b-col md="1">
                    <b-button
                      variant="danger"
                      class="delete-btn"
                      @click="deleteWord(index)"
                    >
                      <i class="simple-icon-trash" />
                    </b-button>
                  </b-col>
                </b-row>
              </b-card>
            </b-colxx>
          </b-row>
        </div>
      </b-overlay>

      <b-row class="mb-3" v-if="list.length == 0">
        <b-col md="12">
          <b-card>
            <div class="justify-content-center align-items-center text-center">
              Please add data clicking by add button
            </div>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mt-3">
          <span class="float-right text-muted"
            >Total Count : {{ list.length }}</span
          >
        </b-col>
        <b-col md="12" class="mt-1">
          <b-button variant="primary add-btn" @click="addWord">
            {{ $t("general.buttons.add") }}
          </b-button>
        </b-col>
      </b-row>

      <template slot="modal-footer">
        <b-button
          variant="outline-secondary"
          @click="hideModal('modalright')"
          >{{ $t("pages.cancel") }}</b-button
        >
        <loading-button
          class="mr-1"
          variant="primary"
          :click="addWords"
          :loading="loading"
          >{{ $t("general.buttons.submit") }}</loading-button
        >
      </template>
    </b-modal>

    <b-modal v-model="isUploadModalVisible">
      <b-overlay :show="loading" rounded="sm">
        <b-row>
          <b-col md="12" class="mt-3 mb-1">
            <b-alert show variant="info">
              Excel File must be contains <kbd>word</kbd> ,
              <kbd>meanings</kbd> , <kbd>tags</kbd> ,
              <kbd>description</kbd> columns.
            </b-alert>
            <b-alert show variant="info">
              You can add multiple tags and meanings via comma seperate
              <strong>Example : </strong> <kbd>Animal , Food , Music</kbd>
            </b-alert>
            <a href="/files/exampleExcel.xlsx" target="_blank">
              Download Example Excel File
            </a>
          </b-col>
          <b-colxx xxs="12">
            <vue-dropzone
              ref="dropzone"
              id="dropzone"
              v-on:vdropzone-file-added="onFileAdded"
              v-on:vdropzone-max-files-exceeded="onMaxFileExceeded"
              :options="dropzoneOptions"
            ></vue-dropzone>
          </b-colxx>
          <b-col md="12" class="mt-3">
            <b-alert
              show
              dismissible
              variant="danger"
              v-for="(error, index) in uploadErrorMessages"
              :key="index"
            >
              {{ error }}
            </b-alert>
          </b-col>
        </b-row>
      </b-overlay>
      <template slot="modal-footer">
        <b-button
          variant="outline-secondary"
          @click="isUploadModalVisible = false"
          >Cancel</b-button
        >
      </template>
    </b-modal>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import VueDropzone from "vue2-dropzone";
const { required, minLength } = require("vuelidate/lib/validators");
import notify from "@/utils/notify";
import TagList from "@/views/main/tag";
import InputTag from "@/components/Form/InputTag";
import LoadingButton from "@/components/Common/LoadingButton";
import { getAll as getTags } from "@/api/tag";
import { createRange as createList } from "@/api/word";
import readXlsxFile from "read-excel-file";

export default {
  name: "QuickAddModal",
  components: {
    "input-tag": InputTag,
    "tag-list": TagList,
    "vue-dropzone": VueDropzone,
    "loading-button": LoadingButton
  },
  data() {
    return {
      isModalVisible: false,
      isUploadModalVisible: false,
      search: "",
      tempSearch: "",
      skipExistingWords: false,
      list: [],
      loading: false,
      schema: {
        word: {
          prop: "word",
          type: String,
          required: true
          // Excel stores dates as integers.
          // E.g. '24/03/2018' === 43183.
          // Such dates are parsed to UTC+0 timezone with time 12:00 .
        },
        meanings: {
          prop: "meanings",
          type: String,
          required: true
        },
        tags: {
          prop: "tags",
          type: String,
          required: false
        },
        description: {
          prop: "description",
          type: String,
          required: false
        }
      },
      uploadErrorMessages: [],
      dropzoneOptions: {
        autoProcessQueue: false,
        url: "https://httpbin.org/post",
        thumbnailHeight: 160,
        maxFilesize: 1,
        previewTemplate: this.dropzoneTemplate(),
        headers: {
          "My-Awesome-Header": "header value"
        },
        acceptedFiles: ".xlsx"
      }
    };
  },
  mixins: [validationMixin],
  validations: {
    list: {
      $each: {
        title: {
          required,
          minLength: minLength(1)
        },
        meanings: {
          required,
          minLength: minLength(1)
        }
      }
    },
    filteredList: {
      $each: {
        title: {
          required,
          minLength: minLength(1)
        },
        meanings: {
          required,
          minLength: minLength(1)
        }
      }
    }
  },
  mounted() {
    this.isModalVisible = this.value;
    this.resetData();
  },

  props: {
    value: {
      required: true,
      default: true
    }
  },
  computed: {
    filteredList() {
      return this.list.filter(
        c =>
          c.title.includes(this.search) ||
          c.meanings.some(meaning => meaning.includes(this.search)) ||
          c.tags.some(tag => tag.includes(this.search)) ||
          c.description.includes(this.search)
      );
      // return this.list;
    }
  },
  methods: {
    resetData() {
      this.list = [];
      this.skipExistingWords = false;
      this.resetFilter();
    },
    resetFilter() {
      this.search = "";
      this.tempSearch = "";
    },
    filter() {
      this.search = this.tempSearch;
    },
    onModalHidden() {
      this.resetData();
      this.$emit("onModalClose");
    },
    addWords() {
      this.$v.$touch();
      console.log(this.$v);
      if (!this.$v.$invalid) {
        this.loading = true;
        createList({
          list: this.list,
          skipExistingWords: this.skipExistingWords
        })
          .then(response => {
            notify.created();
          })
          .finally(() => {
            this.loading = false;
            this.isModalVisible = false;
          });
      } else {
        notify.error(
          "Have validation errors in form.Please clean search input and see errors"
        );
      }
    },
    onMaxFileExceeded(file) {
      var deletedFile = this.$refs.dropzone.getAcceptedFiles()[0];
      this.$refs.dropzone.removeFile(deletedFile);
    },
    clearDropzone() {
      this.$refs.dropzone.removeAllFiles();
    },
    onFileAdded(file) {
      const schema = this.schema;
      this.loading = true;

      readXlsxFile(file, { schema })
        .then(({ rows, errors }) => {
          var fast = require("fast.js");
          this.uploadErrorMessages = [];
          if (errors.length > 0) {
            for (let i = 0; i < errors.length; i++) {
              const error = errors[i];
              this.uploadErrorMessages.push(
                `Excel file must contains ${error.column} columns`
              );
            }
            this.clearDropzone;
          } else {
            //map to list object

            // this.list = rows.map(item => {
            //   return {
            //     title: item.word ? item.word : "",
            //     meanings: item.meanings ? item.meanings.split(",") : "",
            //     tags: item.tags ? item.tags.split(",") : "",
            //     description: item.description ? item.description : ""
            //   };
            //   // let obj = {
            //   //   title: "",
            //   //   meanings: [],
            //   //   tags: [],
            //   //   description: ""
            //   // };

            //   // if (item.word) obj.title = item.word;
            //   // if (item.meanings) obj.meanings = item.meanings.split(",");

            //   // if (item.tags) obj.tags = item.tags.split(",");

            //   // if (item.description) obj.description = item.description;

            //   // return obj;
            // });
            this.list = [];
            this.isUploadModalVisible = false;
            this.list = fast.map(rows, function(item) {
              return {
                title: item.word ? item.word : "",
                meanings: item.meanings ? item.meanings.split(",") : [],
                tags: item.tags ? item.tags.split(",") : [],
                description: item.description ? item.description : ""
              };
            });
            // for (let i = 0; i < rows.length; i++) {
            //   const item = rows[i];
            //   this.list.push({
            //     title: item.word ? item.word : "",
            //     meanings: item.meanings ? item.meanings.split(",") : [],
            //     tags: item.tags ? item.tags.split(",") : [],
            //     description: item.description ? item.description : ""
            //   });
            // }
            // this.list = rows.map(item => {
            //   return {
            //     title: item.word ? item.word : "",
            //     meanings: item.meanings ? item.meanings.split(",") : [],
            //     tags: item.tags ? item.tags.split(",") : [],
            //     description: item.description ? item.description : ""
            //   };
            // });
            this.isUploadModalVisible = false;
            this.resetFilter();
          }

          // `rows` is an array of rows
          // each row being an array of cells.
        })
        .finally(() => {
          this.loading = false;
        });
    },
    dropzoneTemplate() {
      return `<div class="dz-preview dz-file-preview mb-3">
                  <div class="d-flex flex-row "> <div class="p-0 w-30 position-relative">
                      <div class="dz-error-mark"><span><i></i>  </span></div>
                      <div class="dz-success-mark"><span><i></i></span></div>
                      <div class="preview-container">
                        <img data-dz-thumbnail class="img-thumbnail border-0" />
                        <i class="simple-icon-doc preview-icon"></i>
                      </div>
                  </div>
                  <div class="pl-3 pt-2 pr-2 pb-1 w-70 dz-details position-relative">
                    <div> <span data-dz-name /> </div>
                    <div class="text-primary text-extra-small" data-dz-size /> </div>
                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                    <div class="dz-error-message"><span data-dz-errormessage></span></div>
                  </div>
                  <a href="#" class="remove" data-dz-remove> <i class="glyph-icon simple-icon-trash"></i> </a>
                </div>
        `;
    },
    showTagModal() {
      this.isTagModalVisible = true;
    },
    deleteWord(index) {
      this.list.splice(index, 1);
    },
    addWord() {
      this.list.push({
        id: undefined,
        groupdId: undefined,
        title: "",
        meanings: [],
        tags: [],
        description: ""
      });
    }
  },

  watch: {
    value: {
      handler: function(val, oldVal) {
        this.isModalVisible = val;
      },
      deep: true
    },
    isModalVisible: {
      handler: function(val, oldVal) {
        this.$emit("input", val);
      },
      deep: true
    }
  }
};
</script>

<style lang="scss">
.quick-add-modal {
  .card {
    overflow: hidden;
  }
  .quick-add-content {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    margin: -5px;

    .quick-add-item-card-body {
      padding: 1rem 1rem 0rem 1rem;
    }
    .delete-btn {
      width: 100%;
      height: 100%;
      border-radius: unset;
      // border-bottom-right-radius: 0.75rem;
      // border-top-right-radius: 0.75rem;
    }
  }
  .add-btn {
    width: 100%;
    height: 100%;
  }
}
.dropzone .dz-preview.dz-image-preview,
.dropzone .dz-preview.dz-file-preview {
  width: 90%;
}
</style>
