<template>
  <div>
    <b-card
      @click.prevent="toggleItem($event, data.id)"
      :id="'word-list-item-' + data.id"
      class="word-list-item"
      :class="{
        'd-flex flex-row': true,
        active: selectedItems.includes(data.id)
      }"
      no-body
    >
      <div class="pl-2 d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center"
        >
          <div class="w-30 w-sm-100">
            <p class="list-item-heading mb-0 truncate">{{ data.title }}</p>
          </div>
          <p class="mb-0 text-muted  w-20 w-sm-100 text-center">
            {{
              data.meanings && data.meanings.length > 0
                ? data.meanings.join(" , ")
                : ""
            }}
          </p>

          <div class="w-40 w-sm-100 text-center">
            <span v-if="data.tags && data.tags.length > 0" class="">
              <b-badge
                v-for="(tag, index) in data.tags"
                :key="index"
                class="ml-1"
                pill
                :variant="'outline-' + stringToTagType(tag)"
                >{{ tag }}</b-badge
              >
            </span>
          </div>
          <p class="mb-0 text-muted text-small w-15 w-sm-100 text-center">
            {{ data.dateCreated }}
          </p>
        </div>
        <div
          class="custom-control  custom-checkbox pl-1 align-self-center pr-4"
        >
          <b-form-checkbox
            :checked="selectedItems.includes(data.id)"
            class="itemCheck mb-0 d-inline-block"
          />

          <b-dropdown
            size="lg"
            variant="link"
            toggle-class="text-decoration-none icon-button"
            no-caret
            dropleft
          >
            <template #button-content>
              <span class="simple-icon-options-vertical"></span>
            </template>
            <b-dropdown-item
              href="#"
              @click.stop="$emit('onEditClick', data)"
              >{{ $t("general.buttons.edit") }}</b-dropdown-item
            >
            <b-dropdown-item
              href="#"
              @click.stop="$emit('onDeleteClick', data)"
              >{{ $t("general.buttons.delete") }}</b-dropdown-item
            >
          </b-dropdown>
        </div>
      </div>
    </b-card>
    <b-tooltip
      :target="'word-list-item-' + data.id"
      placement="bottom"
      :title="data.description"
    >
    </b-tooltip>
  </div>
</template>

<script>
export default {
  props: ["data", "selectedItems"],
  methods: {
    toggleItem(event, itemId) {
      this.$emit("toggle-item", event, itemId);
    },
    stringToTagType(s) {
      var charCode = s.charCodeAt(0);
      var r = charCode % 6;
      if (r == 0) return "primary";
      else if (r == 1) return "secondary";
      else if (r == 2) return "success";
      else if (r == 3) return "danger";
      else if (r == 4) return "warning";
      else if (r == 5) return "info";
      else return "primary";
    }
  }
};
</script>

<style lang="scss" scoped>
.word-list-item .card-body {
  padding: 1.25rem;
}
</style>
