.v-select {
  color: $primary-color;
  outline: initial !important;
  box-shadow: none !important;

  .vs__search {
    margin: 2px !important;
    line-height: 1.5rem !important;
  }
  .vs__actions {
    color: $secondary-color;
    display: flex;
    padding: 0 10px 0 3px;
  }

  .vs__selected-options {
    outline: initial !important;
    box-shadow: none !important;
    padding: 0.4rem !important;
    background: $foreground-color !important;
  }

  .vs__no-options {
    padding: 5px !important;
  }

  .vs__dropdown-menu {
    padding-bottom: 0;
    padding-top: 0;
    overflow: auto !important;
    box-shadow: initial !important;
    border-radius: initial !important;
    background: $foreground-color;
    border-color: rgba($theme-color-1, 0.6) !important;

    .vs__dropdown-option {
      transition: initial;
      background: $foreground-color !important;
      color: $primary-color !important;
      padding: 8px 12px !important;

      &.vs__dropdown-option--highlight {
        background: rgba($theme-color-1, 0.6) !important;
        color: $button-text-color !important;
      }
      &.vs__dropdown-option--selected {
        display: none;
      }
    }
  }

  .vs__dropdown-toggle::after {
    display: none;
  }

  .vs__dropdown-toggle {
    border-radius: $border-radius !important;
    border: 1px solid $separator-color !important;
    background: $input-background !important;
    outline: initial !important;
    box-shadow: none !important;
    padding: 0px !important;
  }

  .vs__open-indicator {
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    opacity: 1;
    width: 12px;

    path {
      display: none;
    }
  }
  .vs__open-indicator,
  .vs__open-indicator {
    transition: all 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
    transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  }
  .vs__open-indicator {
    border-color: $separator-color !important;
    border-width: 2px 2px 0 0 !important;
    height: 6px !important;
    width: 6px !important;

    border-style: solid;
    content: "";
    display: inline-block;
    vertical-align: text-top;
    transform: rotate(133deg);
    box-sizing: inherit;
  }
  &.vs--open .vs__open-indicator {
    transform: rotate(315deg);
  }
  &.vs--loading .vs__open-indicator {
    opacity: 0;
  }

  // .vs__actions .vs__clear {
  //   display: none;
  // }

  .vs__actions svg {
    width: 15px;
    height: 15px;
  }

  &.vs--open {
    .vs__dropdown-toggle {
      border-color: rgba($theme-color-1, 0.6) !important;
    }
  }

  .vs__actions,
  &.vs--open .vs__actions {
    outline: initial;
    box-shadow: initial;

    &:active,
    &:focus,
    &:hover {
      color: $theme-color-1 !important;
    }
  }

  &.vs--single .vs__selected {
    padding: 6px 5px !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: $primary-color !important;
    font-size: inherit !important;
    position: initial !important;
  }
}
