<template>
  <div>
    <h6 class="mb-4">{{ $t("user.login-title") }}</h6>
    <b-form
      @submit.prevent="formSubmit"
      class="av-tooltip tooltip-label-bottom"
    >
      <b-form-group :label="$t('auth.email')" class="has-float-label mb-4">
        <b-form-input
          type="text"
          v-model="form.emailOrUsername"
          :state="!$v.form.emailOrUsername.$error"
          autocomplete="no"
        />
        <b-form-invalid-feedback v-if="!$v.form.emailOrUsername.required">{{
          $t("auth.validations.emailOrUsernameRequired")
        }}</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group :label="$t('auth.password')" class="has-float-label mb-4">
        <b-form-input
          type="password"
          v-model="form.password"
          :state="!$v.form.password.$error"
          autocomplete="new-password"
        />
        <b-form-invalid-feedback v-if="!$v.form.password.required">{{
          $t("auth.validations.passwordRequired")
        }}</b-form-invalid-feedback>
      </b-form-group>
      <div class="d-flex justify-content-between align-items-center">
        <router-link tag="a" to="/user/forgot-password">{{
          $t("user.forgot-password-question")
        }}</router-link>
        <b-button
          type="submit"
          variant="primary"
          size="lg"
          :disabled="processing"
          :class="{
            'btn-multiple-state btn-shadow': true,
            'show-spinner': processing,
            'show-success': !processing && isError === false,
            'show-fail': !processing && isError
          }"
        >
          <span class="spinner d-inline-block">
            <span class="bounce1"></span>
            <span class="bounce2"></span>
            <span class="bounce3"></span>
          </span>
          <span class="icon success">
            <i class="simple-icon-check"></i>
          </span>
          <span class="icon fail">
            <i class="simple-icon-exclamation"></i>
          </span>
          <span class="label">{{ $t("auth.buttons.login") }}</span>
        </b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
const {
  required,
  maxLength,
  minLength,
  email
} = require("vuelidate/lib/validators");

export default {
  data() {
    return {
      form: {
        emailOrUsername: "",
        password: ""
      },
      processing: false,
      isError: false
    };
  },
  mixins: [validationMixin],
  validations: {
    form: {
      password: {
        required
      },
      emailOrUsername: {
        required
      }
    }
  },

  methods: {
    formSubmit() {
      this.processing = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.$store
          .dispatch("user/login", this.form)
          .then(response => {
            this.$router.push("/");
            // this.loading = false;
          })
          .catch(error => {
            this.isError = error.data.isError;
          })
          .finally(() => {
            this.processing = false;
          });

        // this.login({
        //   email: this.form.email,
        //   password: this.form.password
        // });
      }
      this.processing = false;
    }
  }
};
</script>

<style></style>
