<template>
  <div>
    <h6 class="mb-4">{{ $t("user.register") }}</h6>
    <b-form @submit.prevent="formSubmit">
      <b-form-group :label="$t('auth.username')" class="has-float-label mb-4">
        <b-form-input
          type="text"
          v-model="form.username"
          :state="!$v.form.username.$error"
        />
        <b-form-invalid-feedback v-if="!$v.form.username.required">{{
          $t("auth.validations.usernameRequired")
        }}</b-form-invalid-feedback>
        <b-form-invalid-feedback v-if="!$v.form.username.validFormat">{{
          $t("auth.validations.usernameValidFormat")
        }}</b-form-invalid-feedback>
      </b-form-group>
      <b-form-group :label="$t('auth.email')" class="has-float-label mb-4">
        <b-form-input
          type="email"
          v-model="form.email"
          :state="!$v.form.email.$error"
        />
        <b-form-invalid-feedback v-if="!$v.form.email.required">{{
          $t("auth.validations.emailRequired")
        }}</b-form-invalid-feedback>
        <b-form-invalid-feedback v-if="!$v.form.email.validFormat">{{
          $t("auth.validations.emailValidFormat")
        }}</b-form-invalid-feedback>
      </b-form-group>
      <b-form-group :label="$t('auth.password')" class="has-float-label mb-4">
        <b-form-input
          type="password"
          v-model="form.password"
          :state="!$v.form.password.$error"
        />
        <b-form-invalid-feedback v-if="!$v.form.password.required">{{
          $t("auth.validations.passwordRequired")
        }}</b-form-invalid-feedback>
        <b-form-invalid-feedback v-if="!$v.form.password.validFormat">{{
          $t("auth.validations.passwordValidFormat")
        }}</b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        :label="$t('auth.confirmPassword')"
        class="has-float-label mb-4"
      >
        <b-form-input
          type="password"
          autocomplete="new-password"
          v-model="form.confirmPassword"
          :state="!$v.form.confirmPassword.$error"
        />
        <b-form-invalid-feedback v-if="!$v.form.confirmPassword.required">{{
          $t("auth.validations.passwordRequired")
        }}</b-form-invalid-feedback>
        <b-form-invalid-feedback
          v-if="!$v.form.confirmPassword.sameAsPassword"
          >{{
            $t("auth.validations.confirmPasswordNotMatch")
          }}</b-form-invalid-feedback
        >
      </b-form-group>

      <div class="d-flex justify-content-end align-items-center">
        <b-button
          type="submit"
          variant="primary"
          size="lg"
          class="btn-shadow"
          >{{ $t("user.register-button") }}</b-button
        >
      </div>
    </b-form>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
const { required, sameAs } = require("vuelidate/lib/validators");
import { validPassword, validUsername, validEmail } from "@/utils/validate";
import { register } from "@/api/auth";
export default {
  data() {
    return {
      form: {
        username: "",
        email: "",
        password: "",
        confirmPassword: ""
      },
      processing: false,
      isError: false
    };
  },
  mixins: [validationMixin],
  validations: {
    form: {
      username: {
        required,
        validFormat: validUsername
      },
      email: {
        required,
        validFormat: validEmail
      },
      password: {
        required,
        validFormat: validPassword
      },
      confirmPassword: {
        required,
        validFormat: validPassword,
        sameAsPassword: sameAs("password")
      }
    }
  },

  methods: {
    validPassword,
    validUsername,
    validEmail,
    formSubmit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.processing = true;

        this.$store
          .dispatch("user/register", this.form)
          .then(response => {
            this.$router.push("/");
          })
          .catch(error => {
            this.isError = error.data.isError;
          })
          .finally(() => {
            this.processing = false;
          });
      }
    }
  }
};
</script>

<style></style>
