<template>
  <div>
    <b-card :id="'tag-list-item-' + data.id" class="tag-list-item" no-body>
      <div class="pl-2 d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-row flex-lg-row justify-content-between min-width-zero align-items-lg-center"
        >
          <div class="w-50 w-sm-50 w-xs-50 w-xxs-50 d-inline">
            <p class="list-item-heading mb-0 truncate">{{ data.title }}</p>
          </div>
          <div
            class="w-50 w-sm-50 w-xs-50 w-xxs-50 d-inline"
            v-if="!data.isConst"
          >
            <button
              class="btn btn-danger btn-circle  float-right"
              @click.stop="$emit('onDeleteClick', data)"
            >
              <i class="simple-icon-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.tag-list-item .card-body {
  padding: 1.25rem;
}
</style>
