<template>
  <b-row>
    <b-colxx>
      <b-row>
        <b-colxx xxs="12">
          <h1>{{ $t("menu.data-list") }}</h1>
          <div class="top-right-button-container">
            <b-button
              variant="primary"
              size="lg"
              class="top-right-button"
              @click="handleAdd"
              >{{ $t("general.buttons.addNew") }}</b-button
            >

            <b-modal
              id="modalright"
              ref="modalright"
              :title="
                modalType == 'create'
                  ? $t('session.createModalTitle')
                  : $t('session.updateModalTitle')
              "
              modal-class="modal-right"
            >
              <b-form>
                <b-form-group :label="$t('word.title')">
                  <b-form-input
                    v-model="item.title"
                    :state="!$v.item.title.$error"
                  />
                  <b-form-invalid-feedback>{{
                    $t("group.validations.titleIsRequired")
                  }}</b-form-invalid-feedback>
                </b-form-group>

                <b-form-group :label="$t('session.gameType')">
                  <v-select
                    v-model="item.gameType"
                    label="value"
                    :options="gameTypeOptions"
                    :reduce="c => c.key"
                  />
                </b-form-group>
                <b-form-group :label="$t('session.gameLevel')">
                  <v-select
                    v-model="item.gameLevel"
                    label="value"
                    :options="gameLevelOptions"
                    :reduce="c => c.key"
                  />
                </b-form-group>
              </b-form>

              <template slot="modal-footer">
                <b-button
                  variant="outline-secondary"
                  @click="hideModal('modalright')"
                  >{{ $t("pages.cancel") }}</b-button
                >
                <loading-button
                  class="mr-1"
                  variant="primary"
                  :click="modalType == 'create' ? createSession : updateSession"
                  :loading="loading"
                  >{{ $t("general.buttons.submit") }}</loading-button
                >
              </template>
            </b-modal>
          </div>
          <piaf-breadcrumb />
          <div class="mb-2 mt-2">
            <b-button
              variant="empty"
              class="pt-0 pl-0 d-inline-block d-md-none"
              v-b-toggle.displayOptions
            >
              {{ $t("pages.display-options") }}
              <i class="simple-icon-arrow-down align-middle" />
            </b-button>

            <b-collapse id="displayOptions" class="d-md-block">
              <div class="d-block d-md-inline-block pt-1">
                <div
                  class="filter-input d-inline-block float-md-left mr-1 align-top"
                  @click="getSessions"
                >
                  <b-input
                    :placeholder="$t('menu.search')"
                    v-model="listQuery.text"
                  />
                </div>
              </div>
              <div class="d-block d-md-inline-block align-top">
                <b-button
                  variant="info"
                  class="btn-circle"
                  size="sm"
                  @click="getSessions"
                  ><i class="simple-icon-magnifier"></i
                ></b-button>
              </div>
              <div class="float-md-right pt-1">
                <span class="text-muted text-small mr-1 mb-2"
                  >Total : {{ totalCount }}</span
                >
                <b-dropdown
                  id="ddown2"
                  right
                  :text="`${listQuery.limit}`"
                  variant="outline-dark"
                  class="d-inline-block"
                  size="xs"
                >
                  <b-dropdown-item
                    v-for="(size, index) in pageSizes"
                    :key="index"
                    @click="changePageSize(size)"
                    >{{ size }}</b-dropdown-item
                  >
                </b-dropdown>
              </div>
            </b-collapse>
          </div>
          <div class="separator mb-5" />
        </b-colxx>
      </b-row>
      <template v-if="loading">
        <div class="loading"></div>
      </template>
      <b-row class="session-cards-row">
        <b-colxx
          xxs="6"
          sm="4"
          md="3"
          lg="2"
          v-for="(item, index) in list"
          :key="index"
        >
          <session-card
            :item="item"
            @onEditClick="handleEdit"
            @onDeleteClick="handleDelete"
            @onStartClick="startSession"
          />
        </b-colxx>
      </b-row>
    </b-colxx>
  </b-row>
</template>

<script>
import SessionCard from "./components/SessionCard";
import { validationMixin } from "vuelidate";
const { required } = require("vuelidate/lib/validators");
import LoadingButton from "@/components/Common/LoadingButton";
import notify from "@/utils/notify";
import {
  gameTypeOptions,
  gameLevelOptions,
  sessionStatusOptions
} from "@/constants/data";
import {
  create as createSession,
  getAll as getSessions,
  get as getSession,
  update as updateSession,
  remove as deleteSession,
  start as startSession,
  close as closeSession
} from "@/api/session";
export default {
  name: "Session",
  components: {
    "session-card": SessionCard,
    "loading-button": LoadingButton
  },
  mounted() {
    console.log("Test");
  },
  data() {
    return {
      loading: false,
      modalType: "",
      search: "",
      from: 0,
      to: 0,
      totalCount: 0,

      listQuery: {
        text: "",
        isAll: false,
        page: 1,
        limit: 8
      },

      lastPage: 0,
      pageSizes: [4, 8, 12, 16, 20, "All"],
      gameTypeOptions,
      sessionStatusOptions,
      gameLevelOptions,
      list: [],
      item: {
        id: undefined,
        title: "",
        gameType: 1,
        gameLevel: 1
      }
    };
  },
  mixins: [validationMixin],
  validations: {
    item: {
      title: {
        required
      }
    }
  },
  created() {
    this.getSessions();
  },
  methods: {
    reset() {
      this.item = {
        id: undefined,
        title: "",
        gameType: 1,
        gameLevel: 1
      };
      this.loading = false;
      this.$v.$reset();
    },
    getSessions() {
      // const params = {
      //   groupId: this.groupId,
      //   ...this.listQuery
      // };
      this.loading = true;
      getSessions()
        .then(response => {
          this.list = response;
          // this.totalCount = response.totalCount;
        })
        .finally(() => {
          this.loading = false;
        });
    },

    handleAdd() {
      this.modalType = "create";
      this.showModal("modalright");
      this.reset();
    },
    handleEdit(val) {
      getSession(val.id).then(response => {
        this.item = {
          id: response.id,
          title: response.title,
          gameType: response.gameType,
          gameLevel: response.gameLevel
        };

        this.modalType = "update";
        this.showModal("modalright");
      });
    },
    handleDelete(item) {
      notify.areYouSureAlert(
        "Do you want to delete this record?",
        "Delete",
        result => {
          if (result.isConfirmed) {
            deleteSession(item.id).then(response => {
              this.getSessions();
              notify.deleted();
            });
          }
        }
      );
    },

    createSession() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        createSession(this.item)
          .then(response => {
            notify.created();
            this.getSessions();
          })
          .finally(() => {
            this.loading = false;
            this.hideModal("modalright");
          });
      }
    },
    updateSession() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;

        updateSession(this.item)
          .then(response => {
            notify.updated();
            this.getSessions();
          })
          .finally(() => {
            this.loading = false;
            this.hideModal("modalright");
          });
      }
    },

    startSession(item) {
      // this.$router.push({ name: "words", params: { groupId: item.id } });
      if (item.sessionStatus == 1) startSession(item.id).then(response => {});

      this.$router.push({ name: "games", params: { sessionId: item.id } });
    },

    hideModal(refname) {
      this.$refs[refname].hide();
    },
    showModal(refname) {
      this.$refs[refname].show();
    }
  }
};
</script>

<style></style>
