<template>
  <b-row>
    <b-colxx>
      <b-row>
        <b-colxx cols="12">
          <div class="mb-2 mt-2">
            <div class="d-inline d-md-inline-block ">
              <div
                class="filter-input d-inline-block float-md-left mr-1 align-top"
              >
                <b-input
                  :placeholder="$t('menu.search')"
                  v-model="listQuery.text"
                />
              </div>
            </div>
            <div class="d-inline d-md-inline-block align-top">
              <b-button
                variant="info"
                class="btn-circle"
                size="sm"
                @click="getTags"
                ><i class="simple-icon-magnifier"></i
              ></b-button>
            </div>
            <!-- <div class="float-md-right pt-1">
              <span class="text-muted text-small mr-1 mb-2"
                >Total : {{ totalCount }}</span
              >
              <b-dropdown
                right
                :text="`${listQuery.limit}`"
                variant="outline-dark"
                class="d-inline-block"
                size="xs"
              >
                <b-dropdown-item
                  v-for="(size, index) in pageSizes"
                  :key="index"
                  @click="changePageSize(size)"
                  >{{ size }}</b-dropdown-item
                >
              </b-dropdown>
            </div> -->
          </div>
          <div class="separator mb-3" />
          <b-form>
            <b-row>
              <b-col cols="8" md="8" sm="8">
                <b-form-group>
                  <b-form-input
                    v-model="form.title"
                    placeholder="Enter your Title"
                    :state="!$v.form.title.$error"
                  />
                  <b-form-invalid-feedback v-if="!$v.form.title.required">{{
                    $t("word.validations.titleIsRequired")
                  }}</b-form-invalid-feedback>
                  <b-form-invalid-feedback v-if="!$v.form.title.minLength">
                    {{
                      String.format(
                        $t("word.validations.titleMinLength"),
                        $v.form.title.$params.minLength.min
                      )
                    }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col cols="4" md="4" sm="4">
                <b-button variant="primary w-100" @click="createTag">{{
                  $t("general.buttons.add")
                }}</b-button>
                <!-- <loading-button
                  variant="primary"
                  :click="createTag"
                  :loading="loading"
                  >{{ $t("general.buttons.add") }}</loading-button
                > -->
              </b-col>
            </b-row>
          </b-form>

          <div class="separator mb-5" />
        </b-colxx>
      </b-row>

      <template v-if="loading">
        <div class="loading"></div>
      </template>
      <!-- Table -->
      <template v-else>
        <b-row>
          <b-colxx
            xxs="12"
            class="mb-3 word-list"
            v-for="(item, index) in list"
            :key="index"
            :id="item.id"
          >
            <tag-list-item
              :key="item.id"
              :data="item"
              @onDeleteClick="handleDelete"
            />
          </b-colxx>
        </b-row>
        <b-row>
          <b-colxx xxs="12">
            <b-pagination
              size="sm"
              align="center"
              :total-rows="totalCount"
              :per-page="listQuery.limit"
              v-model="listQuery.page"
              @change="paginationOnChange"
            >
              <template v-slot:next-text>
                <i class="simple-icon-arrow-right" />
              </template>
              <template v-slot:prev-text>
                <i class="simple-icon-arrow-left" />
              </template>
              <template v-slot:first-text>
                <i class="simple-icon-control-start" />
              </template>
              <template v-slot:last-text>
                <i class="simple-icon-control-end" />
              </template>
            </b-pagination>
          </b-colxx>
        </b-row>
      </template>
    </b-colxx>
  </b-row>
</template>

<script>
import TagListItem from "./components/TagListItem";
import { validationMixin } from "vuelidate";
import LoadingButton from "@/components/Common/LoadingButton";
import notify from "@/utils/notify";
const { required, minLength } = require("vuelidate/lib/validators");
import {
  create as createTag,
  getAll as getTags,
  get as getTag,
  update as updateTag,
  remove as deleteTag,
  removeList as deleteListTag
} from "@/api/tag";
export default {
  components: {
    "tag-list-item": TagListItem,
    "loading-button": LoadingButton
  },
  data() {
    return {
      totalCount: 0,

      listQuery: {
        text: "",
        isAll: false,
        page: 1,
        limit: 4
      },
      pageSizes: [4, 8, 12, 16, 20, "All"],
      list: [],
      loading: false,

      form: {
        id: undefined,
        title: ""
      }
    };
  },
  mounted() {
    this.getTags();
  },
  mixins: [validationMixin],
  validations: {
    form: {
      title: {
        required,
        minLength: minLength(3)
      }
    }
  },
  methods: {
    reset() {
      this.form = {
        id: undefined,
        title: ""
      };
      this.loading = false;
      this.$v.$reset();
    },
    getTags() {
      this.loading = true;
      getTags(this.listQuery)
        .then(response => {
          this.list = response.items;
          this.totalCount = response.totalCount;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    handleDelete(item) {
      this.loading = true;
      deleteTag(item.id)
        .then(response => {
          this.getTags();
          notify.deleted();
        })
        .finally(() => {
          this.loading = false;
        });
    },
    createTag() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        createTag(this.form)
          .then(response => {
            notify.created();
            this.reset();
            this.getTags();
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    paginationOnChange(page) {
      this.listQuery.page = page;
      this.getTags();
    },
    changePageSize(limit) {
      if (limit === "All") this.listQuery.isAll = true;
      else this.listQuery.isAll = false;
      this.listQuery.limit = limit;
      this.getTags();
    }
  }
};
</script>

<style></style>
