<template>
  <div>
    <template v-if="loading">
      <div class="loading"></div>
    </template>
    <b-row>
      <b-colxx xxs="12">
        <h1>{{ $t("group.menuTitle") }}</h1>
        <!-- <piaf-breadcrumb :heading="$t('menu.blank-page')" /> -->
        <b-collapse class="d-md-block">
          <div class="d-block d-md-inline-block">
            <div
              class="filter-input d-inline-block float-md-left mr-1 align-top"
            >
              <b-input
                :placeholder="$t('menu.search')"
                v-model="listQuery.text"
              />
            </div>
          </div>
          <div class="d-block d-md-inline-block align-top">
            <b-button
              variant="info"
              class="btn-circle"
              size="sm"
              @click="getGroups"
              ><i class="simple-icon-magnifier"></i
            ></b-button>
          </div>
        </b-collapse>

        <div class="separator mb-5"></div>
      </b-colxx>
    </b-row>

    <b-row class="group-cards-row">
      <b-colxx md="12">
        <router-link to="/"></router-link>
      </b-colxx>
      <b-colxx xxs="6" sm="4" md="3" lg="2" class="">
        <group-card
          type="add"
          :options="{ type: 'add' }"
          @onClick="addCardOnClick"
        />
      </b-colxx>
      <b-colxx
        xxs="6"
        sm="4"
        md="3"
        lg="2"
        v-for="(item, index) in list"
        :key="index"
      >
        <group-card
          :item="item"
          @onClick="groupOnClick"
          @onUpdateClick="handleEdit"
          @onDeleteClick="handleDelete(item)"
        />
      </b-colxx>
      <b-modal
        id="modalright"
        ref="modalright"
        :title="
          modalType == 'create'
            ? $t('group.createModalTitle')
            : $t('group.updateModalTitle')
        "
        modal-class="modal-right"
      >
        <!-- !submitted && !$v.title.$error -->
        <b-form>
          <b-form-group :label="$t('group.title')">
            <b-form-input v-model="item.title" :state="!$v.item.title.$error" />
            <b-form-invalid-feedback>{{
              $t("group.validations.titleIsRequired")
            }}</b-form-invalid-feedback>
          </b-form-group>
          <b-form-group :label="$t('group.isPublic')">
            <switches
              v-model="item.isPublic"
              theme="custom"
              color="primary-inverse"
            ></switches>
          </b-form-group>
        </b-form>
        <template slot="modal-footer">
          <b-button
            variant="outline-secondary"
            @click="hideModal('modalright')"
            >{{ $t("general.buttons.cancel") }}</b-button
          >
          <!-- <b-button
            variant="primary"
            @click="addGroup()"
            class="mr-1"
            :state="!loading"
            >{{ $t("general.buttons.submit") }}</b-button
          > -->
          <loading-button
            class="mr-1"
            variant="primary"
            :click="modalType == 'create' ? createGroup : updateGroup"
            :loading="loading"
            >{{ $t("general.buttons.submit") }}</loading-button
          >
        </template>
      </b-modal>
    </b-row>
    <b-row>
      <b-colxx xxs="12">
        <b-pagination
          size="sm"
          align="center"
          :total-rows="totalCount"
          :per-page="listQuery.limit"
          v-model="listQuery.page"
          @change="paginationOnChange"
        >
          <template v-slot:next-text>
            <i class="simple-icon-arrow-right" />
          </template>
          <template v-slot:prev-text>
            <i class="simple-icon-arrow-left" />
          </template>
          <template v-slot:first-text>
            <i class="simple-icon-control-start" />
          </template>
          <template v-slot:last-text>
            <i class="simple-icon-control-end" />
          </template>
        </b-pagination>
      </b-colxx>
    </b-row>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
const { required } = require("vuelidate/lib/validators");
import LoadingButton from "@/components/Common/LoadingButton";
import GroupCard from "./components/GroupCard";
import Switches from "vue-switches";

import {
  create as createGroup,
  getAll as getGroups,
  get as getGroup,
  update as updateGroup,
  remove as deleteGroup
} from "@/api/group";

import notify from "@/utils/notify";
export default {
  name: "Group",
  data() {
    return {
      list: [],
      loading: false,
      submitted: false,
      totalCount: 0,

      listQuery: {
        text: "",
        isAll: false,
        page: 1,
        limit: 11
      },
      modalType: "",
      item: {
        id: undefined,
        title: "",
        isPublic: false
      }
    };
  },
  mixins: [validationMixin],
  validations: {
    item: {
      title: {
        required
      }
    }
  },
  components: {
    "group-card": GroupCard,
    "loading-button": LoadingButton,
    switches: Switches
  },
  mounted() {
    this.getGroups();
  },
  methods: {
    reset() {
      this.item = {
        id: undefined,
        title: "",
        isPublic: false
      };
      this.loading = false;
      this.submitted = false;
      this.$v.$reset();
    },
    getGroups() {
      this.loading = true;

      getGroups(this.listQuery)
        .then(response => {
          this.list = response.items;
          this.totalCount = response.totalCount;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    addCardOnClick() {
      this.modalType = "create";
      this.reset();
      this.showModal("modalright");
    },
    handleEdit(val) {
      getGroup(val.id).then(response => {
        this.item = {
          id: response.id,
          title: response.title,
          isPublic: response.isPublic
        };
        this.modalType = "update";
        this.showModal("modalright");
      });
    },
    handleDelete(item) {
      notify.areYouSureAlert(
        "Do you want to delete this record?",
        "Delete",
        result => {
          if (result.isConfirmed) {
            deleteGroup(item.id).then(response => {
              this.getGroups();
              notify.deleted();
            });
          }
        }
      );
    },
    hideModal(refname) {
      this.$refs[refname].hide();
    },
    showModal(refname) {
      this.$refs[refname].show();
    },
    groupOnClick(item) {
      this.$router.push({ name: "words", params: { groupId: item.id } });
    },
    createGroup() {
      this.loading = true;

      this.$v.$touch();
      if (!this.$v.$invalid) {
        createGroup(this.item)
          .then(response => {
            notify.created();
            this.getGroups();
          })
          .finally(() => {
            this.loading = false;
            this.hideModal("modalright");
          });
      } else {
        this.loading = false;
      }
    },
    updateGroup() {
      this.loading = true;

      this.$v.$touch();
      if (!this.$v.$invalid) {
        updateGroup(this.item)
          .then(response => {
            notify.updated();
            this.getGroups();
          })
          .finally(() => {
            this.loading = false;
            this.hideModal("modalright");
          });
      } else {
        this.loading = false;
      }
    },
    paginationOnChange(page) {
      this.listQuery.page = page;
      this.getGroups();
    }
  }
};
</script>
