<template>
  <div class="completion-game-card">
    <b-card no-body :title="item.game.title" class="pb-3">
      <b-card-body>
        <b-badge
          :variant="gameLevelBadgeVariant"
          pill
          class="position-absolute badge-top-right"
          >{{ gameLevel.value }}</b-badge
        >
        <b-badge
          :variant="gameTypeBadgeVariant"
          pill
          class="position-absolute badge-top-right-2"
          >{{ gameType.value }}</b-badge
        >

        <h4 class="mb-3">
          {{ item.game.title }}
        </h4>
        <p class="mb-5">
          <b>Meanings :</b> {{ item.game.meanings.join(" , ") }}
        </p>
        <div
          class="sentence-split-content m-1"
          v-for="(char, index) in answer"
          :key="index"
        >
          <b-form-input
            v-if="!isWhitespace(char) || requiredIndexes.includes(index)"
            class="sentence-split-content-input"
            maxlength="1"
            :value="char.trim()"
            :disabled="!requiredIndexes.includes(index) || isCompleted"
            @input="val => setAnswerByIndex(val, index)"
          />
          <div v-else class="sentence-split-content-space"></div>
        </div>

        <!-- {{ answer }} -->
      </b-card-body>
    </b-card>
  </div>
</template>
<script>
import { isWhitespace } from "@/utils/validate";
import { gameTypeOptions, gameLevelOptions } from "@/constants/data";
export default {
  props: {
    item: {
      type: Object,
      required: true
    },
    isCompleted: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  data() {
    return {
      answer: "",
      requiredIndexes: [],
      completorFlag: "*",
      gameTypeOptions,
      gameLevelOptions
    };
  },
  watch: {
    item: {
      handler: function(val, oldVal) {
        this.init();
      },
      deep: true
    }
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.answer = this.item.game.word;
      this.$emit("input", this.answer);
      this.requiredIndexes = this.answer.indexOfChars(this.completorFlag);
    },
    isWhitespace,
    isNeedToComplete(c) {
      return c === this.completorFlag;
    },
    setAnswerByIndex(c, i) {
      if (c.trim() == "") c = " ";
      this.answer = this.answer.replaceAt(i, c);

      this.$emit("input", this.answer);
    }
  },
  computed: {
    gameType() {
      return this.gameTypeOptions.find(x => x.key === this.item.gameType);
    },
    gameTypeBadgeVariant() {
      var gameType = this.gameType;
      if (gameType.key == 1) return "warning";
      else if (gameType.key == 2) return "info";
      else return "warning";
    },
    gameLevel() {
      return this.gameLevelOptions.find(x => x.key === this.item.gameLevel);
    },
    gameLevelBadgeVariant() {
      var gameLevel = this.gameLevel;
      if (gameLevel.key == 1) return "success";
      else if (gameLevel.key == 2) return "info";
      else if (gameLevel.key == 3) return "danger";
      else return "success";
    }
  }
};
</script>
<style lang="scss">
.completion-game-card {
  .sentence-split-content {
    display: inline-block;

    &-input {
      font-size: 1rem;
      width: 2.5rem;
      display: inline-block;
      &:disabled {
        background-color: transparent;
        border: none;
      }
    }
    &-space {
      width: 1rem;
    }
  }
}
</style>
