<template>
  <div class="game-setting-card">
    <b-card :title="$t('game.gameSetting')">
      <b-form v-if="gameSettingForm">
        <b-form-group :label="$t('game.gameType')">
          <v-select
            v-model="gameSettingForm.gameType"
            label="value"
            :options="gameTypeOptions"
            :reduce="c => c.key"
            :clearable="false"
          />
        </b-form-group>
        <b-form-group :label="$t('game.gameLevel')">
          <v-select
            v-model="gameSettingForm.gameLevel"
            label="value"
            :options="gameLevelOptions"
            :reduce="c => c.key"
            :clearable="false"
          />
        </b-form-group>
        <b-alert
          v-if="isAlertVisible"
          show
          variant="secondary"
          class="rounded"
          >{{ $t("gameSetting.aplliedOnNextGame") }}</b-alert
        >
      </b-form>
    </b-card>
  </div>
</template>

<script>
import { gameTypeOptions, gameLevelOptions } from "@/constants/data";
import { getGameSetting, updateGameSetting } from "@/api/game";
export default {
  name: "GameSetting",
  props: {
    game: {
      required: false,
      type: Object
    }
  },
  data() {
    return {
      gameSettingForm: {
        gameType: null,
        gameLevel: null,
        groupId: null
      },

      gameTypeOptions,
      gameLevelOptions,

      gameSetting: null,
      selectedGroupId: undefined,
      groups: []
    };
  },
  mounted() {
    this.getGameSetting();
  },
  methods: {
    getGameSetting() {
      getGameSetting().then(response => {
        this.gameSetting = response;

        const { gameLevel, gameType, groupId } = response;
        this.gameSettingForm = {
          gameLevel,
          gameType,
          groupId
        };
      });
    },

    updateGameSetting() {
      updateGameSetting(this.gameSettingForm);
    }
  },
  computed: {
    isAlertVisible() {
      if (this.game) {
        var isGameLevelDifferent =
          this.gameSettingForm.gameLevel != this.game.gameLevel;
        var isGameTypeDifferent =
          this.gameSettingForm.gameType != this.game.gameType;
        return isGameLevelDifferent || isGameTypeDifferent;
      }
      return false;
    }
  },
  watch: {
    gameSettingForm: {
      handler: function(val, oldVal) {
        this.updateGameSetting();
      },
      deep: true
    }
  }
};
</script>

<style></style>
