<template>
  <div class="game-control-buttons">
    <b-button-group class="w-100">
      <b-button
        :variant="leftButtonVariant"
        @click="$emit('onLeftButtonClick')"
        :disabled="leftButtonDisabled"
        >{{ leftButtonTitle }}</b-button
      >
      <b-button
        :variant="rightButtonVariant"
        @click="$emit('onRightButtonClick')"
        :disabled="rightButtonDisabled"
        >{{ rightButtonTitle }}</b-button
      >
    </b-button-group>
  </div>
</template>

<script>
export default {
  name: "GameControlButtons",
  props: {
    rightButtonTitle: {
      type: String,
      default: "Right"
    },
    rightButtonDisabled: {
      type: Boolean,
      default: false
    },
    rightButtonVariant: {
      type: String,
      default: "info"
    },
    leftButtonTitle: {
      type: String,
      default: "Left"
    },
    leftButtonDisabled: {
      type: Boolean,
      default: false
    },
    leftButtonVariant: {
      type: String,
      default: "danger"
    }
  }
};
</script>
<style lang="scss">
.game-control-buttons {
  button {
    font-size: 1rem;
    border-radius: 0.5rem;
  }
}
</style>
