<template>
  <div class="meaning-gmae-card">
    <b-card no-body :title="title" class="pb-3">
      <b-card-body>
        <b-badge
          :variant="gameLevelBadgeVariant"
          pill
          class="position-absolute badge-top-right"
          >{{ gameLevel.value }}</b-badge
        >
        <b-badge
          :variant="gameTypeBadgeVariant"
          pill
          class="position-absolute badge-top-right-2"
          >{{ gameType.value }}</b-badge
        >
        <h4>
          {{ title }} <b>{{ item.game.word }}</b>
        </h4>

        <b-form-radio-group
          :value="selectedMeaning"
          :options="item.game.meaningOptions"
          class="mt-3 mb-3"
          @change="onInputChange"
          disabled-field="notEnabled"
          :disabled="isCompleted"
        ></b-form-radio-group>
      </b-card-body>
    </b-card>
  </div>
</template>
<script>
import { gameTypeOptions, gameLevelOptions } from "@/constants/data";
export default {
  props: {
    item: {
      type: Object,
      required: true
    },
    isCompleted: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  data() {
    return {
      selectedMeaning: null,
      gameTypeOptions,
      gameLevelOptions
    };
  },
  watch: {
    item: {
      handler: function(val, oldVal) {
        this.init();
      },
      deep: true
    }
  },
  methods: {
    init() {
      this.selectedMeaning = null;
    },
    onInputChange(val) {
      this.selectedMeaning = val;
      this.$emit("input", this.selectedMeaning);
    }
  },

  computed: {
    title() {
      return this.item.game.title.replace(this.item.game.word, "");
    },
    gameType() {
      return this.gameTypeOptions.find(x => x.key === this.item.gameType);
    },
    gameTypeBadgeVariant() {
      var gameType = this.gameType;
      if (gameType.key == 1) return "warning";
      else if (gameType.key == 2) return "info";
      else return "warning";
    },
    gameLevel() {
      return this.gameLevelOptions.find(x => x.key === this.item.gameLevel);
    },
    gameLevelBadgeVariant() {
      var gameLevel = this.gameLevel;
      if (gameLevel.key == 1) return "success";
      else if (gameLevel.key == 2) return "info";
      else if (gameLevel.key == 3) return "danger";
      else return "success";
    }
  }
};
</script>
