<template>
  <b-row>
    <b-colxx class="disable-text-selection">
      <b-row>
        <b-colxx xxs="12">
          <h1>{{ $t("word.menuTitle") }}</h1>
          <div class="top-right-button-container">
            <b-button variant="primary" @click="handleAdd">{{
              $t("general.buttons.addNew")
            }}</b-button>
            <b-button variant="outline-success" @click="showQuickAddModal">{{
              $t("general.buttons.quickAdd")
            }}</b-button>
            <b-button-group>
              <b-dropdown
                split
                right
                @click="selectAll(true)"
                class="check-button"
                variant="primary"
              >
                <label
                  class="custom-control custom-checkbox pl-4 mb-0 d-inline-block"
                  slot="button-content"
                >
                  <input
                    class="custom-control-input"
                    type="checkbox"
                    :checked="isSelectedAll"
                    v-shortkey="{ select: ['ctrl', 'a'], undo: ['ctrl', 'd'] }"
                    @shortkey="keymap"
                  />
                  <span
                    :class="{
                      'custom-control-label': true,
                      indeterminate: isAnyItemSelected
                    }"
                    >&nbsp;</span
                  >
                </label>
                <b-dropdown-item @click="deleteWordsList">{{
                  $t("pages.delete")
                }}</b-dropdown-item>
              </b-dropdown>
            </b-button-group>
            <b-modal
              id="modalright"
              ref="modalright"
              :title="
                modalType == 'create'
                  ? $t('word.createModalTitle')
                  : $t('word.updateModalTitle')
              "
              modal-class="modal-right"
            >
              <b-form>
                <b-form-group :label="$t('word.title')">
                  <b-form-input
                    v-model="item.title"
                    placeholder="Enter your Title"
                    :state="!$v.item.title.$error"
                  />
                  <b-form-invalid-feedback v-if="!$v.item.title.required">{{
                    $t("word.validations.titleIsRequired")
                  }}</b-form-invalid-feedback>
                  <b-form-invalid-feedback v-if="!$v.item.title.minLength">
                    {{
                      String.format(
                        $t("word.validations.titleMinLength"),
                        $v.item.title.$params.minLength.min
                      )
                    }}
                  </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group :label="$t('word.meanings')">
                  <b-form-tags
                    v-model="item.meanings"
                    :placeholder="$t('word.meanings')"
                    :state="!$v.item.meanings.$error"
                    remove-on-delete
                    :disableAddButton="true"
                  ></b-form-tags>

                  <b-form-invalid-feedback v-if="!$v.item.meanings.required">{{
                    $t("word.validations.meaningIsRequired")
                  }}</b-form-invalid-feedback>
                  <b-form-invalid-feedback v-if="!$v.item.meanings.minLength">
                    {{
                      String.format(
                        $t("word.validations.meaningsMinLength"),
                        $v.item.meanings.$params.minLength.min
                      )
                    }}
                  </b-form-invalid-feedback>

                  <small class="form-text text-muted">{{
                    $t("general.messages.clickEnterAfterType")
                  }}</small>
                </b-form-group>

                <b-form-group :label="$t('word.tags')">
                  <b-form-tags
                    v-model="item.tags"
                    :placeholder="$t('word.tags')"
                    remove-on-delete
                    :disableAddButton="true"
                  ></b-form-tags>
                </b-form-group>

                <b-form-group :label="$t('pages.description')">
                  <b-textarea
                    v-model="item.description"
                    :rows="2"
                    :max-rows="2"
                  />
                </b-form-group>
              </b-form>

              <template slot="modal-footer">
                <b-button
                  variant="outline-secondary"
                  @click="hideModal('modalright')"
                  >{{ $t("pages.cancel") }}</b-button
                >
                <loading-button
                  class="mr-1"
                  variant="primary"
                  :click="modalType == 'create' ? createWord : updateWord"
                  :loading="loading"
                  >{{ $t("general.buttons.submit") }}</loading-button
                >
              </template>
            </b-modal>
          </div>
          <div class="mb-2 mt-2">
            <!-- <b-button
              variant="empty"
              class="pt-0 pl-0 d-inline-block d-md-none"
              v-b-toggle.displayOptions
            >
              {{ $t("pages.display-options") }}
              <i class="simple-icon-arrow-down align-middle" />
            </b-button> -->
            <div class="d-block">
              <div class="d-inline-block align-top">
                <div class="filter-input d-inline-block float-md-left mr-1 ">
                  <b-input
                    :placeholder="$t('menu.search')"
                    v-model="listQuery.text"
                  />
                </div>
              </div>
              <div class="d-inline-block align-top">
                <b-button
                  variant="info"
                  class="btn-circle "
                  size="sm"
                  @click="getWords"
                  ><i class="simple-icon-magnifier"></i
                ></b-button>
              </div>
              <div class="float-md-right mt-3">
                <div class="d-inline-block">
                  <span class="text-muted text-small mr-1 mb-2"
                    >Total : {{ totalCount }}</span
                  >
                  <b-dropdown
                    id="ddown2"
                    right
                    :text="`${listQuery.limit}`"
                    variant="outline-dark"
                    class="d-inline-block"
                    size="xs"
                  >
                    <b-dropdown-item
                      v-for="(size, index) in pageSizes"
                      :key="index"
                      @click="changePageSize(size)"
                      >{{ size }}</b-dropdown-item
                    >
                  </b-dropdown>
                </div>
                <div class="d-inline-block float-right">
                  <b-button
                    variant="primary"
                    size="xs"
                    class="mr-3"
                    @click="exportToExcel"
                    >Export To Excel</b-button
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="separator mb-3 mt-3" />
        </b-colxx>
      </b-row>

      <b-overlay :show="loading" rounded="sm">
        <div>
          <!-- Table -->
          <b-row>
            <b-colxx
              xxs="12"
              class="mb-3 word-list"
              v-for="(item, index) in list"
              :key="index"
              :id="item.id"
            >
              <word-list-item
                :key="item.id"
                :data="item"
                :selected-items="selectedItems"
                @toggle-item="toggleItem"
                @onEditClick="handleEdit"
                @onDeleteClick="handleDelete"
              />
            </b-colxx>
          </b-row>
          <b-row>
            <b-colxx xxs="12">
              <b-pagination
                size="sm"
                align="center"
                :total-rows="totalCount"
                :per-page="listQuery.isAll ? totalCount : listQuery.limit"
                v-model="listQuery.page"
                @change="paginationOnChange"
              >
                <template v-slot:next-text>
                  <i class="simple-icon-arrow-right" />
                </template>
                <template v-slot:prev-text>
                  <i class="simple-icon-arrow-left" />
                </template>
                <template v-slot:first-text>
                  <i class="simple-icon-control-start" />
                </template>
                <template v-slot:last-text>
                  <i class="simple-icon-control-end" />
                </template>
              </b-pagination>
            </b-colxx>
          </b-row>
        </div>
      </b-overlay>

      <quick-add-modal
        v-model="isQuickAddModalVisible"
        @onModalClose="getWords"
      />
    </b-colxx>
  </b-row>
</template>

<script>
import { validationMixin } from "vuelidate";
const { required, minLength } = require("vuelidate/lib/validators");
import WordListItem from "./components/WordListItem";
import QuickAddModal from "./components/QuickAddModal";
import InputTag from "@/components/Form/InputTag";
import LoadingButton from "@/components/Common/LoadingButton";
import notify from "@/utils/notify";
import JsonExcel from "vue-json-excel";
import XLSX from "xlsx";
import {
  create as createWord,
  getAll as getWords,
  get as getWord,
  update as updateWord,
  remove as deleteWord,
  removeList as deleteListWord
} from "@/api/word";
export default {
  name: "Word",
  components: {
    "word-list-item": WordListItem,
    "input-tag": InputTag,
    "quick-add-modal": QuickAddModal,
    "loading-button": LoadingButton,
    "download-excel": JsonExcel
  },
  data() {
    return {
      groupId: undefined,
      totalCount: 0,

      listQuery: {
        text: "",
        isAll: false,
        page: 1,
        limit: 8
      },

      pageSizes: [4, 8, 12, 16, 20, "All"],
      list: [
        {
          id: 0,
          title: "test",
          category: "test",
          data: "test",
          statusColor: "test",
          status: "test"
        }
      ],
      selectedItems: [],
      loading: false,

      modalType: "",
      isTagModalVisible: false,
      isQuickAddModalVisible: false,
      item: {
        id: undefined,
        groupdId: undefined,
        title: "",
        meanings: [],
        tags: [],
        description: ""
      },

      excelColumns: {
        Words: "title",
        Meanings: "meanings",
        Tags: "tags",
        Description: "description"
      }
    };
  },

  mixins: [validationMixin],
  validations: {
    item: {
      title: {
        required,
        minLength: minLength(1)
      },
      meanings: {
        required,
        minLength: minLength(1)
      }
    }
  },
  mounted() {
    if (!this.isGroupParamExist) {
      this.groupId = parseInt(this.$route.params.groupId);
    }
    this.getWords();
  },
  methods: {
    reset() {
      this.item = {
        id: undefined,
        groupdId: undefined,
        title: "",
        meanings: [],
        tags: [],
        description: ""
      };
      this.loading = false;
      this.$v.$reset();
    },
    getWords() {
      const params = {
        groupId: this.groupId,
        ...this.listQuery
      };
      this.loading = true;
      getWords(params)
        .then(response => {
          this.list = response.items;
          this.totalCount = response.totalCount;
        })
        .finally(() => {
          this.loading = false;
        });
    },

    async exportToExcel(isFullData) {
      let response;
      if (isFullData) {
        var data = await getWords({ isAll: true });
        response = data.items;
      } else {
        var data = await getWords({ isAll: true, ...this.listQuery });
        response = data.items;
      }

      response = response.map(item => {
        return {
          word: item.title,
          meanings: item.meanings.join(" , "),
          tags: item.tags.join(" , "),
          description: item.description
        };
      });
      // export json to Worksheet of Excel
      // only array possible
      var ws = XLSX.utils.json_to_sheet(response);

      var wb = XLSX.utils.book_new(); // make Workbook of Excel

      // add Worksheet to Workbook
      // Workbook contains one or more worksheets
      XLSX.utils.book_append_sheet(wb, ws); // sheetAName is name of Worksheet

      // export Excel file
      XLSX.writeFile(wb, "book.xlsx"); // name of the file is 'book.xlsx'
    },

    handleAdd() {
      this.modalType = "create";
      this.showModal("modalright");
      this.reset();
    },
    showQuickAddModal() {
      this.isQuickAddModalVisible = true;
    },
    handleEdit(val) {
      getWord(val.id).then(response => {
        this.item = {
          id: response.id,
          title: response.title,
          groupdId: response.groupId,
          meanings: response.meanings,
          tags: response.tags,
          description: response.description
        };

        this.modalType = "update";
        this.showModal("modalright");
      });
    },
    handleDelete(item) {
      notify.areYouSureAlert(
        "Do you want to delete this record?",
        "Delete",
        result => {
          if (result.isConfirmed) {
            deleteWord(item.id).then(response => {
              this.getWords();
              notify.deleted();
            });
          }
        }
      );
    },
    deleteWordsList() {
      notify.areYouSureAlert(
        "Do you want to delete this records?",
        "Delete",
        result => {
          if (result.isConfirmed) {
            deleteListWord(this.selectedItems).then(response => {
              this.getWords();
              notify.deleted();
            });
          }
        }
      );
    },
    createWord() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        this.item.groupId = this.groupId;
        createWord(this.item)
          .then(response => {
            notify.created();
            this.getWords();
          })
          .finally(() => {
            this.loading = false;
            this.hideModal("modalright");
          });
      }
    },
    updateWord() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        this.item.groupId = this.groupId;

        updateWord(this.item)
          .then(response => {
            notify.updated();
            this.getWords();
          })
          .finally(() => {
            this.loading = false;
            this.hideModal("modalright");
          });
      }
    },

    hideModal(refname) {
      this.$refs[refname].hide();
    },
    showModal(refname) {
      this.$refs[refname].show();
    },

    toggleItem(event, itemId) {
      if (event.shiftKey && this.selectedItems.length > 0) {
        let itemsForToggle = this.items;
        var start = this.getIndex(itemId, itemsForToggle, "id");
        var end = this.getIndex(
          this.selectedItems[this.selectedItems.length - 1],
          itemsForToggle,
          "id"
        );
        itemsForToggle = itemsForToggle.slice(
          Math.min(start, end),
          Math.max(start, end) + 1
        );
        this.selectedItems.push(
          ...itemsForToggle.map(item => {
            return item.id;
          })
        );
      } else {
        if (this.selectedItems.includes(itemId)) {
          this.selectedItems = this.selectedItems.filter(x => x !== itemId);
        } else this.selectedItems.push(itemId);
      }
    },
    getIndex(value, arr, prop) {
      for (var i = 0; i < arr.length; i++) {
        if (arr[i][prop] === value) {
          return i;
        }
      }
      return -1;
    },
    selectAll(isToggle) {
      if (this.selectedItems.length >= this.list.length) {
        if (isToggle) this.selectedItems = [];
      } else {
        this.selectedItems = this.list.map(x => x.id);
      }
    },
    keymap(event) {
      switch (event.srcKey) {
        case "select":
          this.selectAll(false);
          break;
        case "undo":
          this.selectedItems = [];
          break;
      }
    },

    paginationOnChange(page) {
      this.listQuery.page = page;
      this.getWords();
    },
    changePageSize(limit) {
      if (limit === "All") this.listQuery.isAll = true;
      else this.listQuery.isAll = false;
      this.listQuery.limit = limit;
      this.getWords();
    }
  },
  computed: {
    isSelectedAll() {
      return this.selectedItems.length >= this.list.length;
    },
    isAnyItemSelected() {
      return (
        this.selectedItems.length > 0 &&
        this.selectedItems.length < this.list.length
      );
    },
    isGroupParamExist() {
      return !(
        this.$route.params &&
        this.$route.params.groupId &&
        this.$route.params.groupId != null
      );
    }
  }
};
</script>
