.group-cards-row {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -10px;

  .glide__slides {
    padding-bottom: 0px;
    padding-top: 10px;
    .group-row-item {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .group-row-item {
    &[type="add"] {
      .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .card {
      transition: box-shadow $animation-time-long;
      height: 10rem;
      cursor: pointer;

      &:hover,
      &:active {
        color: $theme-color-1;
        @include depth(2);
      }
      .card-body {
        padding: 2rem 0.5rem;

        .group-card-top-buttons {
          padding: 0.5rem 1rem;
          right: 0;
          top: 0;

          @include respond-below(xs) {
            padding: 0.35rem;
          }
          .icon-button {
            &:hover,
            &:focus {
              border-color: $theme-color-1;
              color: $theme-color-1;
            }
          }
        }

        .add-icon {
          font-size: 46px;
          line-height: 66px;
        }

        .is-public-badge {
          position: absolute;
          bottom: 5px;
          right: 10px;
        }
        .word-count-badge {
          position: absolute;
          bottom: 5px;
          left: 10px;
        }
      }

      .card-text {
        color: $secondary-color;
        height: 30px;
        line-height: 26px;
      }
    }
  }

  [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .lead {
    color: $theme-color-1;
    margin-bottom: 0;
  }

  @include respond-below(xl) {
    .card-text {
      height: 48px;
      line-height: 18px;
    }

    .lead {
      font-size: 1.6rem;
    }

    .icon-button {
      font-size: 24px;
      line-height: 42px;
    }
  }
}
