.login-card {
  display: flex;
  border-radius: 150px;
  @include depth(1);

  .card-body {
    padding: unset;
  }
  &-body {
    padding: 1.75rem;
  }
  &-footer {
    display: block;
    // position: relative;
    // bottom: 0px;
    // left: 0px;
    button {
      position: relative;
      border-radius: unset;
      border-bottom-left-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
      width: 100%;
    }
  }
}
