$top-navbar-font-size: 1.5rem;
$top-navbar-font-size-lg: 1.5rem;
$top-navbar-font-size-md: 1.25rem;
$top-navbar-font-size-xs: 1.25rem;

.navbar {
  .navbar-left {
    flex-basis: auto;
  }

  .navbar-right {
    flex-basis: auto;
  }
  .navbar-middle {
    flex-basis: auto;

    ul {
      margin-bottom: 0;
      li {
        font-size: 2rem;
        padding: 0 0.75rem;

        .active {
          color: var(--theme-color-1);
        }
        i {
          padding: 0 0.25rem;
        }
      }
    }

    @include respond-below(xl) {
      font-size: $top-navbar-font-size-lg;
    }

    @include respond-below(lg) {
      font-size: $top-navbar-font-size-lg;
      // padding: 1rem 0 1rem 0;
    }

    @include respond-below(sm) {
      font-size: $top-navbar-font-size-xs;
      // padding: 10px 0;
    }
  }
}
