::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #9096a1;
  border-radius: 0.5rem;
  height: 3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
