.session-card {
  .options-button {
    color: var(--light);
    &:hover,
    &:focus {
      color: white;
    }
  }
  .session-thumbnail-letter {
    width: 100%;
    height: 85px;
    background: var(--theme-color-1-50);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.25rem;
    color: #fff;
  }
  .play-button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);

    button {
      padding-left: 0.9rem;
      padding-right: 0.9rem;
      text-align: center;
      line-height: 1.42857;
      font-size: 1rem;
    }
  }
}
