.w-50 {
  width: 50% !important;
}

.w-xxs-50 {
  @include respond-below(xxs) {
    width: 50% !important;
  }
}
.w-xs-50 {
  @include respond-below(xs) {
    width: 50% !important;
  }
}

.w-sm-50 {
  @include respond-below(sm) {
    width: 50% !important;
  }
}
.w-md-50 {
  @include respond-below(md) {
    width: 50% !important;
  }
}
