@import "./colors";
@import "./groupCard.style";
@import "./wordList.style";
@import "./navbar.style";
@import "./sessionCard.style";
@import "./login.style";
@import "./circleButton.style";
@import "./width.style";
@import "./bootstrapModalSize.style";
@import "./scrollBar.styles";

$main-margin: 260px;
$main-margin-lg: 130px;
$main-margin-md: 50px;
$main-margin-xs: 30px;

.filter-input {
  position: relative;

  input {
    background: none;
    outline: initial !important;
    border-radius: 15px;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-size: 0.76rem;
    line-height: 1.3;
    border: 1px solid $secondary-color;
    color: $primary-color;
  }
}

main {
  margin-left: $main-margin;
  margin-right: $main-margin;
  @include respond-below(xl) {
    margin-left: $main-margin-lg;
    margin-right: $main-margin-lg;
  }

  @include respond-below(lg) {
    margin-left: $main-margin-md;
    margin-right: $main-margin-md;
  }

  @include respond-below(sm) {
    margin-left: $main-margin-xs !important;
    margin-right: $main-margin-xs !important;
  }

  @include respond-below(xs) {
    margin-bottom: 0;
  }
}
