<template>
  <div class="d-flex justify-content-center">
    <h1 class="mt-5"><strong>Coming Soon...</strong></h1>
  </div>
</template>

<script>
export default {
  name: "ComingSoon",
  mounted() {}
};
</script>

<style></style>
