<template>
  <b-row class="h-100">
    <b-colxx xxs="12" md="4" class="mx-auto my-auto">
      <b-card class="login-card" no-body>
        <b-card-body>
          <div class="login-card-body">
            <login v-if="tab == 'login'" />
            <register v-else />
          </div>
          <div class="login-card-footer">
            <b-button
              type="button"
              variant="primary"
              size="lg"
              @click="toggleTab"
              >{{
                tab == "login"
                  ? $t("user.register-button")
                  : $t("user.login-button")
              }}</b-button
            >
          </div>
        </b-card-body>
      </b-card>
    </b-colxx>
  </b-row>
</template>

<script>
import LoginComponent from "./components/Login";
import RegisterComponent from "./components/Register";

export default {
  components: {
    login: LoginComponent,
    register: RegisterComponent
  },
  data() {
    return {
      tab: "login"
    };
  },
  methods: {
    toggleTab() {
      if (this.tab == "login") this.tab = "register";
      else this.tab = "login";
    }
  }
};
</script>
