<template>
  <b-button
    :id="id"
    :class="{
      'btn-multiple-state': true,
      'show-spinner': loading
    }"
    :variant="variant"
    @click="click"
    :disabled="status != 'default'"
  >
    <span class="spinner d-inline-block">
      <span class="bounce1"></span>
      <span class="bounce2"></span>
      <span class="bounce3"></span>
    </span>
    <span class="icon success">
      <i class="simple-icon-check"></i>
    </span>
    <span class="icon fail">
      <i class="simple-icon-exclamation"></i>
    </span>
    <span class="label">
      <slot></slot>
    </span>
  </b-button>
</template>

<script>
export default {
  // props: ['id', 'variant', 'click' , isSpinning:{},],
  props: {
    // Basic type check (`null` and `undefined` values will pass any type validation)
    id: String,
    variant: String,
    click: Function,
    loading: Boolean
  },
  data() {
    return {
      status: "default",
      message: "",
      messageShow: false
    };
  }
};
</script>
