<template>
  <b-row class="h-100">
    <b-colxx xxs="12" md="4" class="mx-auto my-auto">
      <b-card class="login-card" no-body>
        <b-card-body>
          <div class="form-side">
            <h6 class="mb-4">{{ $t("user.login-title") }}</h6>

            <b-form
              @submit.prevent="formSubmit"
              class="av-tooltip tooltip-label-bottom"
            >
              <b-form-group
                :label="$t('user.email')"
                class="has-float-label mb-4"
              >
                <b-form-input
                  type="text"
                  v-model="form.emailOrUsername"
                  :state="!$v.form.emailOrUsername.$error"
                />
                <b-form-invalid-feedback
                  v-if="!$v.form.emailOrUsername.required"
                  >Please enter your email address</b-form-invalid-feedback
                >
                <b-form-invalid-feedback
                  v-else-if="!$v.form.emailOrUsername.email"
                  >Please enter a valid email address</b-form-invalid-feedback
                >
                <b-form-invalid-feedback
                  v-else-if="!$v.form.emailOrUsername.minLength"
                  >Your email must be minimum 4
                  characters</b-form-invalid-feedback
                >
              </b-form-group>

              <b-form-group
                :label="$t('user.password')"
                class="has-float-label mb-4"
              >
                <b-form-input
                  type="password"
                  v-model="form.password"
                  :state="!$v.form.password.$error"
                />
                <b-form-invalid-feedback v-if="!$v.form.password.required"
                  >Please enter your password</b-form-invalid-feedback
                >
                <b-form-invalid-feedback
                  v-else-if="
                    !$v.form.password.minLength || !$v.form.password.maxLength
                  "
                  >Your password must be between 6 and 32
                  characters</b-form-invalid-feedback
                >
              </b-form-group>
              <div class="d-flex justify-content-between align-items-center">
                <router-link tag="a" to="/user/forgot-password">{{
                  $t("user.forgot-password-question")
                }}</router-link>
                <b-button
                  type="submit"
                  variant="primary"
                  size="lg"
                  :disabled="processing"
                  :class="{
                    'btn-multiple-state btn-shadow': true,
                    'show-spinner': processing,
                    'show-success': !processing && isError === false,
                    'show-fail': !processing && isError
                  }"
                >
                  <span class="spinner d-inline-block">
                    <span class="bounce1"></span>
                    <span class="bounce2"></span>
                    <span class="bounce3"></span>
                  </span>
                  <span class="icon success">
                    <i class="simple-icon-check"></i>
                  </span>
                  <span class="icon fail">
                    <i class="simple-icon-exclamation"></i>
                  </span>
                  <span class="label">{{ $t("user.login-button") }}</span>
                </b-button>
              </div>
            </b-form>
          </div>
        </b-card-body>
        <div class="login-card-footer">
          <b-button type="button" variant="primary" size="lg">{{
            $t("user.register-button")
          }}</b-button>
        </div>
      </b-card>
    </b-colxx>
  </b-row>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { validationMixin } from "vuelidate";
const {
  required,
  maxLength,
  minLength,
  email
} = require("vuelidate/lib/validators");

export default {
  data() {
    return {
      form: {
        emailOrUsername: "admin@gmail.com",
        password: "Aa12345!"
      },
      processing: false,
      isError: false
    };
  },
  mixins: [validationMixin],
  validations: {
    form: {
      password: {
        required,
        maxLength: maxLength(32),
        minLength: minLength(6)
      },
      emailOrUsername: {
        required,
        email,
        minLength: minLength(4)
      }
    }
  },

  computed: {
    ...mapGetters(["currentUser"])
  },
  methods: {
    ...mapActions(["login"]),
    formSubmit() {
      this.processing = true;
      this.$v.$touch();
      this.$v.form.$touch();

      if (!this.$v.form.$anyError) {
        this.$store
          .dispatch("user/login", this.form)
          .then(response => {
            this.$router.push("/");
            // this.loading = false;
          })
          .catch(error => {
            this.isError = error.data.isError;
          })
          .finally(() => {
            this.processing = false;
          });

        // this.login({
        //   email: this.form.email,
        //   password: this.form.password
        // });
      }
      this.processing = false;
    }
  }
};
</script>
