<template>
  <div class="h-100">
    <router-view />
    <!-- <color-switcher /> -->
  </div>
</template>

<script>
// import ColorSwitcher from "./components/Common/ColorSwitcher";
import { getDirection } from "@/utils";
import {
  colors,
  defaultRadius,
  defaultColor,
  themeRadiusStorageKey
} from "@/constants/config";
export default {
  // components: {
  //   "color-switcher": ColorSwitcher
  // },
  methods: {
    // changeRadius(radius) {
    //   if (radius === "flat") {
    //     document.body.classList.remove("rounded");
    //   } else {
    //     document.body.classList.add("rounded");
    //   }
    //   localStorage.setItem(themeRadiusStorageKey, radius);
    // },
    // changeThemeColor(color) {
    //   localStorage.setItem("themeColor", color);
    //   this.toggle();
    //   setTimeout(() => {
    //     window.location.reload();
    //   }, 500);
    // }
  },
  beforeMount() {
    const direction = getDirection();
    if (direction.isRtl) {
      document.body.classList.add("rtl");
      document.dir = "rtl";
      document.body.classList.remove("ltr");
    } else {
      document.body.classList.add("ltr");
      document.dir = "ltr";
      document.body.classList.remove("rtl");
    }

    // this.changeRadius(defaultRadius);
    // if (
    //   localStorage.getItem("themeColor") != "light.orange" &&
    //   localStorage.getItem("themeColor") != "dark.orange"
    // )
    //   this.changeThemeColor(defaultColor);
  }
};
</script>
