<template>
  <div class="group-row-item" @click="$emit('onClick', item)">
    <b-card class="mb-4 ">
      <div v-if="options.type != 'default'">
        <i class="simple-icon-plus add-icon" />
      </div>
      <div v-else>
        <div class="position-absolute group-card-top-buttons">
          <button
            class="btn btn-header-light icon-button"
            @click.stop="$emit('onUpdateClick', item)"
          >
            <i class="simple-icon-pencil" />
          </button>
          <button
            class="btn btn-header-light icon-button"
            @click.stop="$emit('onDeleteClick', item)"
          >
            <i class="simple-icon-trash" />
          </button>
        </div>
        <div class="text-center">
          <h3
            v-if="item.title"
            class="card-text font-weight-semibold mt-3 mb-0"
          >
            {{ item.title }}
          </h3>
        </div>
        <b-badge
          v-if="item.isPublic"
          class="mb-1 is-public-badge"
          pill
          variant="outline-success"
          >{{ $t("group.public") }}</b-badge
        >
        <span class="mb-1 word-count-badge text-muted">
          <i class="iconsminds-paper"> </i>
          {{ item.wordCounts }}
        </span>
        <!-- <b-badge class="mb-1 word-count-badge" pill variant="outline-primary">{{
          item.wordCounts
        }}</b-badge> -->
      </div>

      <!-- <i v-if="item.icon" :class="item.icon" />
      <p v-if="item.title" class="card-text font-weight-semibold mb-0">
        {{ item.title }}
      </p> -->
      <!-- <p class="lead text-center">{{ value }}</p> -->
    </b-card>
  </div>
</template>
<script>
export default {
  props: {
    item: { type: Object },
    options: {
      type: Object,
      default: function() {
        return {
          type: "default"
        };
      }
    }
  }
};
</script>
